---
title: Portfolio
layout: default
---

<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Jesse - Timeline</title>
		<link rel="stylesheet" type="text/css" href="css/timeline.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container" style="margin:0;padding:0;width:100%;">
			<header>
				<img width="190" height="190" src="images/hux_avatar.jpg">
				<h1>林育緯</h1>
				<p> <b>作品集</b><br> </p>
			</header>
			<div class="main">
				<ul class="cbp_tmtimeline">
<!-- ////////// SPOT News ////////// -->
					<li>
						<div class="cbp_tmlabel">
							<h2>SPOT News ＠ AtticTV</h2>
							<time>2015/08 - Present</time>
							<img src="images/intern-alitrip.png">
							<ul>
								<li>
									● SPOT News 是一款在馬來西亞新聞類排名第1的App,其中也涵蓋了東南亞其他國家(新加坡,泰國,越南,菲律賓,緬甸)在地化新聞,並包含了8種語言<br>
									● 公司內iOS平台由我獨立完成開發,上架與維護
								</li>
								<li class="skill">
									<span width="50"><b>objc</b></span>
									<a target="_blank" href="https://developer.apple.com/library/ios/documentation/Swift/Conceptual/Swift_Programming_Language/"><span class="i-swift"></span></a>
									<a target="_blank" href="https://branch.io/"><span class="i-branch"></span></a>
									<a target="_blank" href="https://newrelic.com/"><span class="i-newrelic"></span></a>
									<a target="_blank" href="https://segment.com/"><span class="i-segment"></span></a>
									<a target="_blank" href="https://realm.io/"><span class="i-realm"></span></a>
									<a target="_blank" href="https://developers.facebook.com/"><span class="i-facebook"></span></a>
									<a target="_blank" href="https://developers.google.com/cloud-messaging/"><span class="i-google"></span></a>
									<a target="_blank" href="https://github.com/AFNetworking/AFNetworking"><span class="i-afn"></span></a>
									<span class="link"><a target="_blank" href="https://itunes.apple.com/us/app/spot-news-local-news/id1030445066?mt=8">App Store</a></span>
								</li>
							</ul>
						</div>
					</li>
<!-- ////////// GotchaMap for Pokemon Go ////////// -->
					<li>
						<div class="cbp_tmlabel">
							<h2 id="hslider">GotchaMap for Pokemon Go</h2>
							<time>2016/07</time>
							<img src="images/work-hslider.png">
							<ul>
								<li>
									● GotchaMap 是一款real time取得pokemon位置的app,也可以透過User回報來增加資料來源<br>
									● 後端搭配Firebase
								</li>
								<li class="skill">
									<a target="_blank" href="https://developer.apple.com/library/ios/documentation/Swift/Conceptual/Swift_Programming_Language/"><span class="i-swift"></span></a>
									<a target="_blank" href="https://firebase.google.com"><span class="i-firebase"></span></a>
									<span class="link"><a target="_blank" href="https://itunes.apple.com/tw/app/gotchamap-for-pokemon-go/id1142084633?mt=8">App Store</a></span>
								</li>
							</ul>
						</div>
					</li>
<!-- ////////// Da:ly 每日記事 ////////// -->
					<li>
						<div class="cbp_tmlabel">
							<h2 id="busyweek">Da:ly 每日記事</h2>
							<time>2016/05</time>
							<img src="images/work-busyweek.png">
							<ul>
								<li>
									● 這是一款Todo list的App,重點放在每日要完成的事項<br>
									● 本地端資料庫為Core Data
								</li>
								<li class="skill">
									<a target="_blank" href="https://developer.apple.com/library/ios/documentation/Swift/Conceptual/Swift_Programming_Language/"><span class="i-swift"></span></a>
									<span class="link"><a target="_blank" href="https://itunes.apple.com/tw/app/da-ly-mei-ri-ji-shi/id1094364960?mt=8">App Store</a></span>
								</li>
							</ul>
						</div>
					</li>
<!-- ////////// Travel With Me ////////// -->
					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">Travel With Me</h2>
							<time>2015/07</time>
							<img src="images/work-wepiao-bo.png">
							<ul>
								<li>
									● 這是一款旅遊找伴平台,讓大家方便找到遊玩的旅伴<br>
									● 後端搭配Parse
								</li>
								<li class="skill">
									<span width="50"><b>objc</b></span>
									<a target="_blank" href="https://www.parse.com"><span class="i-parse"></span></a>
									<span class="link"><a target="_blank" href="https://itunes.apple.com/tw/app/travelwithme/id1039628466?mt=8">App Store</a></span>
								</li>
							</ul>
						</div>
					</li>

					{% if site.duoshuo_username %}
					<li>
						<div class="cbp_tmlabel">
			                <!-- 多说评论框 start -->
			                <div class="comment">
			                    <div class="ds-thread"
									data-thread-key="{{site.duoshuo_username}}/portfolio"
			                        data-title="{{page.title}}"
			                        data-url="{{site.url}}{{site.baseurl}}{{page.url}}" >
			                    </div>
			                </div>
			                <!-- 多说评论框 end -->
						</div>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
		{% if site.duoshuo_username %}
		<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
		<script type="text/javascript">
		    // dynamic User by Hux
		    var _user = '{{site.duoshuo_username}}';

		    // duoshuo comment query.
		    var duoshuoQuery = {short_name: _user };
		    (function() {
		        var ds = document.createElement('script');
		        ds.type = 'text/javascript';ds.async = true;
		        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		        ds.charset = 'UTF-8';
		        (document.getElementsByTagName('head')[0]
		         || document.getElementsByTagName('body')[0]).appendChild(ds);
		    })();
		</script>
		<!-- 多说公共JS代码 end -->
		{% endif %}
	</body>
</html>
